@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
  background: white;
   height: 700vh; 
   font-family: 'Heebo', sans-serif;
}
::-webkit-scrollbar {display: none;}

.line-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

svg{
  display: inline-block;
  height: 100%;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    font-size: 3em;
    font-family: 'Heebo', sans-serif;
}

.one{
    background-image: url('./img/inicioCreativa2.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0;
    animation:backInicio .6s 4s ease-in forwards ;
    -webkit-animation:backInicio .6s 4s ease-in forwards ;
}
/* ----Anim inicio------- */
@keyframes backInicio {
  to{
    opacity: 1;
  }
}
/* --------------------- */

.one .flecha{
  /*background: violet;
  */
  opacity: .6;
  width: 40px;
  height: 50px;
  position: absolute;
  left: calc(50vw-20px);
  top: 80%;
  animation: bounce 2.5s 2s linear infinite ;
  -webkit-animation: bounce 2.5s 2s linear infinite ;
}
.flecha img{
  width: 100%;
}

/* ---------anime flecha---- */
@keyframes bounce {
  from,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0) scaleY(1.05);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
/* ---------------------------- */
.one h1{
  color: black;
}
.box{
  /* background: red; */
  width: 60px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
}
.box img{
  height: 65%;
  width: auto;
  margin-left:-100px;
  animation: textoAparece 1s 4.5s ease-in forwards;
  -webkit-animation: textoAparece 1s 4.5s ease-in forwards;
}

/* ----anim -- texto------------ */
@keyframes textoAparece{
  to{
    margin-left:0px;
  }
}

/* --------------------- */


.two{
  width: 100%;
  position: relative;
  overflow: hidden;
 /*  background: chartreuse; */
}

p{
  position: absolute;
  z-index: 0;
  color: rgb(71, 71, 71);
  opacity: .5;
  top: 7%;
  right: 5%;
  white-space: nowrap;
  font-size: 8vw;
  font-weight: normal;
  font-family: 'Monoton', cursive;
}
.three{
  position: absolute;
  top: 200vh;
  left: 5%;
  width: calc(50vw - 20%);
  background-image: url('./img/pinzas-amarillas-flores-cuadrado.png');
  background-size:100%;
  background-repeat: no-repeat;
  filter: drop-shadow( 15px 5px 15px  rgba(105, 105, 105,0.3));
  -webkit-filter: drop-shadow( 15px 5px 15px  rgba(105, 105, 105,0.3));
}
.three h1{
  top: 0%;
  left: 20%;
  font-size:150%;
}
.four{
  position: absolute;
  top: 250vh;
  right: 5%;
  width: calc(50vw - 20%);
  background-image: url('./img/girafa.jpg');
  background-size:100%;
  background-repeat: no-repeat;
  filter: drop-shadow( 15px 5px 15px  rgba(105, 105, 105,0.3));
  -webkit-filter: drop-shadow( 15px 5px 15px  rgba(105, 105, 105,0.3));
}

/* ---------------Footer----------- */

.antes-footer, footer{
  background: rgb(155, 155, 155);
}
.antes-footer{
  width: 100vw;
  overflow-x: hidden;
  height: 180px; 
}
.antes-footer .texto{
  width: 90%;
  margin: 10px auto;
}
.antes-footer p{
  width: 100%;
  position: relative;
  color: white;
  font-weight: bolder;
  font-size: 16px;
  padding: 0px 20px;
  letter-spacing: 2px;
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
}
.antes-footer img{
  width: calc(100vh/7);
  margin: 0 10px;
}

footer{
  width: 100vw;
  overflow-x: hidden;
  height: 3rem;
  position: fixed;
  bottom: 0;
  color: rgb(114, 114, 114);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}

footer .container_contact{
  display: flex;
}
.container_contact div{
  margin-left: 20px;
  color: white;
  font-weight: normal;
  font-size: 1.2rem;
}
footer a{
  text-decoration: none;
  color: rgb(73, 73, 73);
  cursor: pointer;
  margin-right: 10px;
}
footer a:hover{
  color: rgb(255, 0, 0);
}



/* -----------------Banner--------------- */

.container_banners{
    position: absolute;
    scroll-behavior: smooth;
    overflow: hidden;
}
.tangram{
 /*  background: red; */
  top: 350vh;
  right: 0%;
  width: 30vw;
  height: 50vh;
}
.pendientes{
  /*  background: blue; */
   top: 410vh;
   left: 0%;
   width: 70vw;
   height: 50vh;
 }
 .pendientes2{
  /*  background: blue; */
   top: 250vh;
   left: 0%;
   width: 100vw;
   height: 50vh;
 }
 .pendientes3{
  /*  background: blue; */
   top: 600vh;
   right: 0%;
   width: 100vw;
   height: 50vh;
 }
 .pendientes4{
  /*  background: blue; */
   top: 550vh;
   right: 0%;
   width: 100vw;
   height: 50vh;
 }

.banner{
    width: 100%;
    height: 100%;
    /* background-color: #CCC; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner_1{
  background-image: url('./img/pinzas-amarillas-flores.png');
}
#banner_2{
  background-image: url('./img/pinzas-azules.png');
}
/*   #banner_2{
    background-image: url('./img/pinzas-rosa.png');
  } */
#banner_4{
    background-image: url('./img/pinzas-rojo.png');
  }
  /*  #banner_4{
    background-image: url('./img/pinzas-azulclaro-estampado.png');
  } */ 
  #banner_5{
    background-image: url('./img/pinzas-verdes.png');
  }
  #banner_6{
    background-image: url('./img/pinzas-amarillas.png');
  }
  #banner_8{
    background-image: url('./img/girafa.png');
  }
  #banner_9{
    background-image: url('./img/camello.png');
  }
  #banner_10{
    background-image: url('./img/pendientes_vertical.png');
  }
  #banner_11{
    background-image: url('./img/pendientes_vertical2.png');
  }
  #banner_12{
    background-image: url('./img/pendientes_vertical3.png');
  }
  #banner_13{
    background-image: url('./img/pendientes_horizontal.png');
  }


  /* ---------------Media Queries---------------- */
  
  @media screen and (max-width: 768px) {
    .box{
      /* background: red; */
      width: 30px;
      height: 50px;
    }
    svg{
      height: 100vh;
    }
    .one{
      background-image: url('./img/iniciomovil.png');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
  }


    .container_banners{
      position: absolute;
      scroll-behavior: smooth;
      overflow: visible;
  }
  .pinzas{
    top: 100vh;
    right: 25%;
    width: 50vw;
    height: 100vh;
  }
 
  .banner{
    width: 100%;
    height: 100%;
  }
    
}